In [1]:
wget

NameError: name 'wget' is not defined

In [104]:
import pandas as pd
import nltk

In [105]:
file = 'TRF_ISO_12100.xlsx'
df = pd.read_excel(file)
df.head()

,Clause,Question number,Points,Concepts,Relations
0,4.0,NaN,Strategy for risk assessment and risk reduction,NaN,NaN
1,NaN,,To implement risk assessment and risk reductio...,NaN,NaN
2,NaN,a),"determine the limits of the machinery, which i...",NaN,NaN
3,NaN,b),identify the hazards and associated hazardous ...,NaN,NaN
4,NaN,c),estimate the risk for each identified hazard a...,NaN,NaN

In [106]:
list = []
for i in range (len(df)):
    lines = df.iloc[i,2]
    sentences = nltk.sent_tokenize(lines) #tokenize sentences
    nouns = []

    for sentence in sentences:
        for word,pos in nltk.pos_tag(nltk.word_tokenize(str(sentence))):
            if (pos == 'NN' or pos == 'NNP' or pos == 'NNS' or pos == 'NNPS'):
                nouns.append(word)
    list.append(nouns)
df['Concepts'] = list
df.head()

,Clause,Question number,Points,Concepts,Relations
0,4.0,NaN,Strategy for risk assessment and risk reduction,"[Strategy, risk, assessment, risk, reduction]",NaN
1,NaN,,To implement risk assessment and risk reductio...,"[risk, assessment, risk, reduction, designer, ...",NaN
2,NaN,a),"determine the limits of the machinery, which i...","[limits, machinery, use, misuse, thereof]",NaN
3,NaN,b),identify the hazards and associated hazardous ...,"[hazards, situations]",NaN
4,NaN,c),estimate the risk for each identified hazard a...,"[estimate, risk, hazard, situation]",NaN

In [107]:
df.to_excel(file, index=False)